body {
  background-color: gray;
}

@media screen and (min-width: 576px) {
  body {
    background-color: ghostwhite;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: teal;
  }
}